<div class="add-dailog">
<mat-card-title fxLayout="row" fxLayoutAlign="start center">
    Confirmation
</mat-card-title>  

<mat-card-content>
 <h5>Are you sure want to delete the user </h5>   
</mat-card-content>
<button mat-button type="button" class="mat-raised-button table-btn-rt mr-1" color="red" (click)="dialogRef.close(selectedValue)">Delete</button>
<button mat-button type="button" class="mat-raised-button table-btn-rt mr-1" color="amber" (click)="dialogRef.close()">Cancel</button></div>